<div class="container">
    <div cdkDropListGroup>
        <div class="example-container">
            <h2 class="text-center">Backlog</h2>

            <mat-card class="example-card">
                <div cdkDropList [cdkDropListData]="items" class="example-list" cdkDropListSortingDisabled
                    (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of items" cdkDrag>
                        <mat-card class="example-card">

                            <mat-card-header>
                                <mat-card-title>{{item.title}}</mat-card-title>
                                <mat-card-subtitle>Activities: {{item.activities}}</mat-card-subtitle>
                                <mat-card-subtitle>Index: {{item.id}}</mat-card-subtitle>
                                <mat-card-subtitle *ngIf="item.tag.length > 0">Tags: <div class="tag" *ngFor="let res of item.tag">{{res}}</div></mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image [src]="image" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                <p>
                                    {{item.desc}}
                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <div class="row">
                                    <div class="col-6">
                                        {{item.createdAt}}
                                    </div>
                                    <div class="col-6" style="text-align: right;">
                                        <a [ngClass]="item.complete ? 'p-success' : 'p-default'" class="p-success" (click)="compelete(item.id)">{{item.complete ? 'complete' : 'non complete'}}</a>
                                    </div>
                                </div>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <div class="text-center">
                        <button (click)="addTask()">
                            Add New Task
                        </button>
                    </div>
                </div>
            </mat-card>
        </div>

        <div class="example-container">
            <h2 class="text-center">To Do</h2>
            <mat-card class="example-card">
                <div cdkDropList [cdkDropListData]="todo" class="example-list" (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of todo" cdkDrag>
                        <mat-card class="example-card">

                            <mat-card-header>
                                <mat-card-title>{{item.title}}</mat-card-title>
                                <mat-card-subtitle>Activities: {{item.activities}}</mat-card-subtitle>
                                <mat-card-subtitle>Index: {{item.id}}</mat-card-subtitle>
                                <mat-card-subtitle *ngIf="item.tag">Tags: <div class="tag">{{item.tag}}</div></mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image [src]="image" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                <p>
                                    {{item.desc}}
                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <div class="row">
                                    <div class="col-6">
                                        {{item.createdAt}}
                                    </div>
                                    <div class="col-6" style="text-align: right;">
                                        <a class="p-success" (click)="compelete(item.id)">{{item.complete ? 'complete' : 'non complete'}}</a>
                                    </div>
                                </div>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </mat-card>
        </div>

        <div class="example-container">
            <h2 class="text-center">Done</h2>
            <mat-card class="example-card">
                <div cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of done" cdkDrag>
                        <mat-card class="example-card">

                            <mat-card-header>
                                <mat-card-title>{{item.title}}</mat-card-title>
                                <mat-card-subtitle>Activities: {{item.activities}}</mat-card-subtitle>
                                <mat-card-subtitle>Index: {{item.id}}</mat-card-subtitle>
                                <mat-card-subtitle *ngIf="item.tag">Tags: <div class="tag">{{item.tag}}</div></mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image [src]="image" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                <p>
                                    {{item.desc}}
                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <div class="row">
                                    <div class="col-6">
                                        {{item.createdAt}}
                                    </div>
                                    <div class="col-6" style="text-align: right;">
                                        <a class="p-success" (click)="compelete(item.id)">{{item.complete ? 'complete' : 'non complete'}}</a>
                                    </div>
                                </div>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>